@charset "UTF-8";
/* ==========================================================================
   base styles
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1180px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.right {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.left {
  -ms-flex-pack: start;
      justify-content: flex-start;
}

body {
  font: 400 15px/1.73333 "Open Sans", Arial, sans-serif;
  color: #fff;
  position: relative;
}

/* ==========================================================================
   header section
   ========================================================================== */
.header {
  /* Wyświetlanie i wymiary */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 103px;
  position: relavtive;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.logo {
  /* Wyświetlanie i wymiary */
  width: 40px;
  height: 20px;
  margin-left: 210px;
  margin-right: auto;
}

/* nav subsection
   ========================================================================== */
.nav {
  /* Wyświetlanie i wymiary */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 18px;
}

.nav-list {
  /* Wyświetlanie i wymiary */
  width: 441px;
  height: 103px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.nav-item {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.nav-item:hover {
  border-bottom: 3px solid #fff;
}

.nav-link {
  font: 400 13px/1.8461% "Open Sans", Arial, sans-serif;
  line-height: 103px;
  text-decoration: none;
  color: #fff;
}

.nav-form {
  /* Wyświetlanie i wymiary */
  width: 220px;
  margin-left: 28px;
  position: relative;
}

.nav-form-search {
  width: 192px;
  height: 44px;
  box-sizing: border-box;
  position: relative;
  font-size: 12px;
  padding: 0 0 0 28px;
  border: none;
  border-radius: 30px;
  color: #626262;
}

.nav-form-search:focus + .search-glass {
  opacity: 0;
}

.search-glass {
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 1;
  transition: opacity 1s;
}

.search-glass:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 6px;
  right: 5px;
  border: 2px solid #b6b6b6;
  border-radius: 50%;
}

.search-glass:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 3px;
  width: 6px;
  height: 2px;
  background-color: #b6b6b6;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

/* ==========================================================================
   hero section
   ========================================================================== */
.hero {
  height: 100vh;
  background: #000 url(../img/main-image2.jpg) no-repeat fixed 0% 0%;
}

.hero .container {
  padding: 328px 0 0 0;
}

.hero-text-block {
  width: 540px;
  text-align: right;
}

.hero-heading {
  margin-bottom: 45px;
  padding-right: 16px;
  font: 400 50px/1.4  "Open Sans", Arial, sans-serif;
}

.hero-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 3,333333;
  width: 280px;
  height: 60px;
  margin: 0 10px 13px 0;
  border: none;
  border-radius: 30px;
  background-color: #8824cd;
  transition: all .7s ease-in-out;
}

.hero-paragraph {
  font-size: 12px;
  line-height: 1,41666667;
  margin-right: 35px;
}

/* ==========================================================================
   feature section
   ========================================================================== */
.feature {
  height: 512px;
  display: -ms-flexbox;
  display: flex;
  padding: 71px 0 142px 0;
  background-color: #2e3b4e;
  border-top: rgba(136, 36, 205, 0.5);
}

.text-block-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 860px;
  padding-left: 20px;
}

.text-block {
  width: 420px;
  margin-bottom: 56px;
  padding-left: 10px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.text-block-heading {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 21px;
  padding-left: 2px;
}

.text-block-text {
  padding-left: 0px;
}

/* ==========================================================================
   call-to-action section
   ========================================================================== */
.call-to-action {
  background: url(../img/bump.png) no-repeat 50.5% -8%, url(../img/pink.jpg) no-repeat 0% 0%;
  padding: 138px 0 195px;
}

.text-block-wrapper-2 {
  width: 540px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 14px;
}

.call-to-action-heading {
  font: 300 35px/1.714285714285714 "Open Sans", Arial, sans-serif;
  margin-bottom: 4px;
}

.call-to-action-text {
  width: 460px;
  margin-bottom: 28px;
  padding-left: 6px;
  text-align: center;
}

.call-to-action-button {
  width: 342px;
  height: 62px;
  font: 700 18px/3.333333 "Open Sans", Arial, sans-serif;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: #d54c63;
  transition: all .7s ease-in-out;
}

.call-to-action-button:hover,
.hero-button:hover,
.call-to-action-button-2:hover {
  -ms-transform: scale(1.25);
      transform: scale(1.25);
}

/* ==========================================================================
   text section
   ========================================================================== */
.text-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  background: #fff url(../img/hand.jpg) no-repeat 0% 0%;
  padding-top: 86px;
  padding-bottom: 129px;
  color: #3a4d60;
}

.text-section-wrapper {
  width: 55.93%;
  padding-left: 10px;
}

.text-section-heading {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 1px;
}

.text-section-text {
  font-size: 19px;
  line-height: 1.631578947368421;
  margin-bottom: 25px;
}

/* ==========================================================================
   call-to-action-2 section
   ========================================================================== */
.call-to-action-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 179px;
  padding-bottom: 116px;
  background: url(../img/image-stretch.jpg) no-repeat 0% 0%;
}

.text-block-wrapper-3 {
  width: 780px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  text-align: center;
}

.call-to-action-heading-2 {
  font: 300 40px/1.2 "Open Sans", Arial, sans-serif;
  letter-spacing: -1px;
  margin: 0 0 22px 15px;
}

.call-to-action-text-2 {
  margin-bottom: 28px;
  margin-left: 29px;
  color: #a87bb7;
  font-size: 20px;
  line-height: 1.65;
}

.call-to-action-button-2 {
  width: 280px;
  height: 60px;
  margin-bottom: 14px;
  margin-left: 15px;
  font: 700 18px/3.333333 "Open Sans", Arial, sans-serif;
  border: none;
  border-top: 1px solid #b87ce1;
  border-radius: 30px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #8824cd;
  color: #fff;
  transition: all .7s ease-in-out;
}

.call-to-action-text-small {
  font-size: 12px;
  line-height: 1.416;
  margin-left: 15px;
}

/* ==========================================================================
   feature article section
   ========================================================================== */
.feature-article {
  background: #fff url(../img/chow.jpg) no-repeat 0% 0%;
  padding: 359px 0 89px 0;
  height: 670px;
}

.feature-article-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  width: 530px;
  padding-left: 8px;
}

.feature-article-button {
  width: 135px;
  height: 35px;
  margin-bottom: 18px;
  border: 2px solid #fff;
  border-radius: 25px;
  background: transparent;
  font: 600 13px/2 "Open Sans", Arial, sans-serif;
}

.feature-article-text {
  font-size: 40px;
  font-weight: 400;
  margin: 0 0 22px 0;
  line-height: 1.25;
}

.avatar-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.feature-article-avatar {
  display: inline-block;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: url(../img/avatar.png) no-repeat 0% 0%;
}

.feature-article-user {
  display: inline-block;
  margin-left: 13px;
  font: 600 13px/3 "Open Sans", Arial, sans-serif;
}

/* ==========================================================================
   about section
   ========================================================================== */
.about {
  height: 516px;
  background: url(../img/watch.jpg) no-repeat right 0%;
  padding: 107px	 0 91px 0;
}

.about-wrapper {
  width: 55.93%;
  color: #3a4d60;
  padding-left: 8px;
}

.about-heading {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0;
}

.about-text {
  margin-bottom: 25px;
  font-size: 19px;
  line-height: 1.63157;
}

/* ==========================================================================
   contact section
   ========================================================================== */
.contact {
  background: #e7526b;
  height: 460px;
  padding-top: 71px;
}

.contact-wrapper {
  padding-left: 9px;
  width: 410px;
}

.contact-heading {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 9px;
}

.contact-text {
  margin-bottom: 26px;
}

.contact-email {
  border-bottom: 1px solid #fff;
}

/* ==========================================================================
   footer section
   ========================================================================== */
.footer {
  height: 367px;
  background-color: #2e3b4e;
  padding-top: 39px;
}

.footer-text {
  padding-left: 8px;
  font-size: 12px;
}
