@charset "UTF-8";
/* ==========================================================================
   base styles
   ========================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1180px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

body {
  font: 400 15px/1.73333 "Open Sans", Arial, sans-serif;
  color: #fff;
}

/* ==========================================================================
   header section
   ========================================================================== */
.header {
  /* Wyświetlanie i wymiary */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-align: center;
      align-items: center;
  height: 103px;
  position: relavtive;
  z-index: -10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.logo {
  /* Wyświetlanie i wymiary */
  width: 40px;
  height: 20px;
  margin-left: 210px;
  margin-right: auto;
}

.nav {
  /* Wyświetlanie i wymiary */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-right: 35px;
}

.nav-list {
  /* Wyświetlanie i wymiary */
  width: 441px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.nav-form {
  /* Wyświetlanie i wymiary */
  width: 220px;
  margin-left: 29px;
}

.nav-form-search {
  width: 100%;
}

/* ==========================================================================
   hero section
   ========================================================================== */
.hero {
  height: 100vh;
  background: #000 url(../img/main-image.jpg) no-repeat fixed 0% 0%;
  margin-top: -123px;
}

.hero .container {
  padding: 277px 0 0 16px;
}

.hero-text-block {
  width: 540px;
  text-align: right;
}

.hero-heading {
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 60px;
}

.hero-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 3,333333;
  width: 280px;
  height: 60px;
  margin-bottom: 21px;
  border: none;
  border-radius: 10px;
  background-color: #8824cd;
}

.hero-paragraph {
  font-size: 12px;
  line-height: 1,41666667;
}

.feature {
  padding: 79px 0 142px 0;
  background-color: #2e3b4e;
  border-top: rgba(136, 36, 205, 0.5);
}

.text-block-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 820px;
}

.text-block {
  width: 410px;
  margin-bottom: 71px;
}

.text-block-heading {
  font-weight: 700;
  margin-bottom: 37px;
}

.call-to-action {
  background: url(../img/pink.jpg) no-repeat 0% 0%;
  padding: 157px 0 194px;
}

.text-block-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.call-to-action-heading {
  font: 300 35px/1.714285714285714 "Open Sans", Arial, sans-serif;
  margin-bottom: 29px;
}

.call-to-action-text {
  margin-bottom: 34px;
  text-align: center;
}

.call-to-action-button {
  width: 342px;
  height: 62px;
  font: 700 18px/3.333333 "Open Sans", Arial, sans-serif;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #d54c63;
}
