/* ==========================================================================
   feature section
   ========================================================================== */

.feature {
	height: 512px;

	display: flex;
	padding: 71px 0 142px 0;

	background-color: #2e3b4e;
	border-top: rgba(136, 36, 205, .5);

	@media screen and (max-width: 480px) {
	   	height:  auto;
		padding: 20px 0;
	}
	@media screen and (min-width: 481px) and (max-width: 750px) {
		padding: 30px 0 60px 0;
		height: auto;
	}
}

.text-block-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 860px;

	padding-left: 20px;

    @media screen and (max-width: 600px) {
		padding: 0 20px;
	}
    @media screen and (min-width: 481px) and (max-width: 600px) {
		justify-content: center;
	}
	@media screen and (min-width: 600px) and (max-width: 839px) {
		justify-content: space-around;
		padding: 0 20px 0 20px;
	}
	@media screen and (min-width: 840px) and (max-width: 1024px) {
		justify-content: center;
		padding: 0 20px 0 20px;
	}
}

.text-block {
	width: 420px;

	margin-bottom: 56px;
	padding-left: 10px;

	@media screen and (max-width: 480px) {
		width: auto;
	   	text-align: center;
	   	padding-left: 0px;
	}
	@media screen and (min-width: 481px) and (max-width: 600px) {
		max-width: 350px;
	}
	@media screen and (min-width: 601px) and (max-width: 750px) {
		max-width: 450px;
		padding-left: 0;
	}
	@media screen and (min-width: 751px) and (max-width: 839px) {
		max-width: 300px;
		padding-left: 0;
	}
	@media screen and (min-width: 840px) and (max-width: 1024px) {
		max-width: 400px;
	}
}

.no-bottom-margin {
	margin-bottom: 0;
	
	@media screen and (max-width: 480px) {
		margin-bottom: 56px; 
   }
}

.text-block-heading {
	font-weight: 700;
	font-size: 15px;

	margin-bottom: 21px;
	padding-left: 2px;
}

.text-block-text {
    padding-left: 0px;
}
