// hidden menu styles

.menu-list {
	list-style: none;
	display: none;
	width: 100%;
	background-color: #fff;
}

.mobile-menu-visible {
	display: block;
	z-index: -1;
	position: absolute;
	top: 0;
}

.button-active .menu:before {
	transform: rotate(90deg);
	margin-right: 0;
	top: 0px;
    right: 0px;
	background-color: #3a4d60;
}

.button-active .menu {
	transform: rotate(-45deg);
	position: absolute;
	top: 12px;
	background-color: #3a4d60;
}

.button-active .menu:after {
	opacity: 0;
}

.menu-item {
	display: flex;
	justify-content: center;

	// margin-top: 45px;
	// margin-bottom: 20px;
	margin-bottom: 2vmin;

	font-size: 20px;
}

.menu-link-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.menu-link {
	width: 100%;
	text-decoration: none;
	text-align: center;
	color: #3a4d60;
}

.top-link-margin {
	margin-top: 75px;
}

.search-item {

}

@media screen and (max-width: 1023px) {
	.menu-wrapper {
		width: 35px;
		height: 30px;

		position: relative;

		margin-right: 50px;
		cursor: pointer;
	}

	.menu {
		width: 100%;
		height: 3px;
		
		background-color: #fff;
		border-radius: 3px;

		trasition: all 1s;
	}

	.menu:before {
		content: "";
		width: 100%;
		height: 3px;

		position: absolute;
		top: 10px;

		margin-right: 50px;
		background-color: #fff;
		border-radius: 3px;
	}

	.menu:before:active {
			content: "";
			width: 100%;
			height: 3px;

			position: absolute;
			top: 10px;

			margin-right: 50px;
			background-color: green;
			border-radius: 3px;
		}

	.menu:after {
		content: "";
		width: 100%;
		height: 3px;

		position: absolute;
		bottom: 7px;

		margin-right: 50px;
		background-color: #fff;
		border-radius: 3px;
	}
}

@media screen and (width: 1024px) and (height: 768px) and (orientation: landscape) {
	.mobile-menu-visible {
		display: none;
	}
	.menu-wrapper {
		display: none;
	}
}

@media only screen and (width:  736px) and (height: 414px) and (orientation: landscape) {
	.menu-item {
		margin-top: 25px;
	}
	.top-link-margin {
		margin-top: 54px;
	}
}

@media only screen and (width:  640px) and (height: 360px) and (orientation: landscape) {
	.menu-item {
		margin: 10px 0 15px 0;
	}
}

@media only screen and (width:  568px) and (height: 320px) and (orientation: landscape) {
	.menu-item {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	.top-link-margin {
		margin-top: 55px;
	}
}

@media only screen and (width:  732px) and (height: 412px) and (orientation: landscape) {
	.menu-item {
		margin-top: 20px;
		margin-bottom: 15px;
	}

	.top-link-margin {
		margin-top: 70px;
	}
}

@media only screen and (width:  320px) and (height: 480px) {
	.menu-item {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.top-link-margin {
		margin-top: 70px;
	}

}

@media only screen and (width:  480px) and (height: 320px) and (orientation: landscape) {
	.menu-item {
		margin-top: 9px;
		margin-bottom: 9px;
	}

	.top-link-margin {
		margin-top: 54px;
	}
}

@media only screen and (width:  533px) and (height: 320px) and (orientation: landscape) {
	.menu-item {
		margin-top: 9px;
		margin-bottom: 9px;
	}
	.top-link-margin {
		margin-top: 54px;
	}
}

@media only screen and (width:  667px) and (height: 375px) and (orientation: landscape) {
	.menu-item {
		margin-top: 9px;
		margin-bottom: 9px;
	}
	.top-link-margin {
		margin-top: 54px;
	}
}

@media only screen and (width:  640px) and (height: 360px) and (orientation: landscape) {
	.menu-item {
		margin-top: 9px;
		margin-bottom: 9px;
	}

	.top-link-margin {
		margin-top: 70px;
	}
}
// end of hidden menu styles