/* ==========================================================================
    ###################### media queries section ###################
   ========================================================================== */

   /* mobile subsection
   ========================================================================== */

@media screen and (max-width: 480px) {

	.container {
		width: 100%;
	}

	.logo {
		margin-left: 50px;
	}
	.menu-wrapper {
		width: 70px;
		height: 30px;

		position: relative;

		margin-right: 50px;
		cursor: pointer;
	}
	.menu {
		width: 100%;
		height: 3px;
		
		background-color: #fff;
		border-radius: 3px;
	}
	.menu:before {
		content: "";
		width: 70px;
		height: 3px;

		position: absolute;
		top: 10px;

		margin-right: 50px;
		background-color: #fff;
		border-radius: 3px;
	}

	.menu:after {
		content: "";
		width: 70px;
		height: 3px;

		position: absolute;
		bottom: 7px;

		margin-right: 50px;
		background-color: #fff;
		border-radius: 3px;
	}

   .nav {
   	display: none;
   }

/* ==========================================================================
  hero section
   ========================================================================== */
 .hero .container {
 	padding-top: 125px;
 }

 .hero-heading {
 	padding-right: 0px;
 	font-size: 35px;
 }

 .hero-text-block {
 	text-align: center;
 }
 .hero-button {
 	margin-right: 0;
 	width: 210px;
 }
 .hero-button:hover {
 	transform: none;
 }

 .hero-paragraph {
 	margin-right: 0;
 	font-size: 14px;
 }

/* ==========================================================================
  feature section
   ========================================================================== */
   .feature {
   	height:  auto;

   	padding-bottom: 20px;
	padding-top: 20px;

   }

   .text-block {
   	width: auto;

   	text-align: center;
   	padding-left: 0px;
   }

   .text-block-wrapper {
   		padding-left: 0px;
   }

   .no-bottom-margin {
   	margin-bottom: 56px; 
   }

/* ==========================================================================
  call to action section
   ========================================================================== */

	.call-to-action {
		padding-top: 45px;
		padding-bottom: 35px;
		background: url(../img/bump.png) no-repeat 50.5% -12.5%, url(../img/pink.jpg) no-repeat 0% 0%;
	}

	.text-block-wrapper-2 {
    	width: auto;
    	padding-left: 0px;

	}

	.call-to-action-heading {
		text-align: center;
		font-size: 35px;
		margin-bottom: 34px;
	}
	.call-to-action-button {
    	max-width: 210px;
	}

	.call-to-action-button:hover {
		transform: none;
	}


	.call-to-action-text {
		width: auto;
		padding-left: 0
	}

/* ==========================================================================
  text section
   ========================================================================== */
	.text-section-image {
		display: none;
		
	}

	.text-section .container {
		padding: 20px 0 20px 5px;

	}

	.text-section-wrapper{
		padding-left: 5px;
	}



/* ==========================================================================
  call to action 2 section
   ========================================================================== */
	.call-to-action-2 {
		padding: 100px 0 16px 0;
	}

	.call-to-action-heading-2 {
		margin-left: 0px;
		font-size: 35px;
	}
	.call-to-action-text-2 {
		margin-left: 0px;
		font-size: 17px;
	}
	.call-to-action-button-2 {
		max-width: 210px;
		margin-left: 0px;
	}
	.call-to-action-text-small {
		font-size: 14px;
	}




/* ==========================================================================
  feature-article section
   ========================================================================== */
   .feature-article {
   		height: auto;
		padding: 30px 0 30px 0;
   }

	/* ==========================================================================
  contact section
   ========================================================================== */

   .about .container {
   		padding: 35px 0 20px 5px;
   }
   .about-wrapper {
   	padding-left: 5px;
   }
   .about-section-image {
		display: none;
   }

	/* ==========================================================================
  contact section
   ========================================================================== */
	.contact {
		height: auto;
		padding: 20px 0 20px 0;
	}
	
	/* ==========================================================================
  footer section
   ========================================================================== */

   .footer {
   		height: auto;
		padding: 30px 0 30px 5px;
   }
}

@media screen and (device-width: 412px) and (device-height: 732px)  {
	.hero .container {
		padding-top: 205px;
	}

	.call-to-action {
		background: url(../img/bump.png) no-repeat 50.5% -11.5%, url(../img/pink.jpg) no-repeat 0% 0%;
	}
}

@media screen and (device-width: 414px) and (device-height: 736px)  {

	.hero .container {
		padding-top: 195px;
	}
	
	.call-to-action {
		background: url(../img/bump.png) no-repeat 50.5% -11.5%, url(../img/pink.jpg) no-repeat 0% 0%;
	}
}

@media screen and (device-width: 1024px) and (device-height: 1366px)  {
	.hero {
		height: 1024px;
	}
	.contact {
		height: auto;
		padding-top: 30px;
    	padding-bottom: 30px;
	}
	.contact .container {
		padding-left: 40px;
	}
	
	.footer {
		height: auto;
		padding-top: 40px;

	}

	.footer .container {
		padding-left: 40px;
	}
}
/* landscape view  subsection
   ========================================================================== */









/* tablet subsection
   ========================================================================== */
@media screen and (min-width: 481px) and (max-width: 1023px) {

.container {
	width: auto;
}

// header
	.logo {
	margin-left: 20px;
}

.nav {
	display: none;
}

.menu-wrapper {
		width: 70px;
		height: 30px;

		position: relative;

		margin-right: 50px;
		cursor: pointer;
	}
	.menu {
		width: 100%;
		height: 3px;
		
		background-color: #fff;
		border-radius: 3px;
	}
	.menu:before {
		content: "";
		width: 70px;
		height: 3px;

		position: absolute;
		top: 10px;

		margin-right: 50px;
		background-color: #fff;
		border-radius: 3px;
	}

	.menu:after {
		content: "";
		width: 70px;
		height: 3px;

		position: absolute;
		bottom: 7px;

		margin-right: 50px;
		background-color: #fff;
		border-radius: 3px;
	}

.nav-list {
	max-width: auto;
}

.nav-form {
	max-width: auto;
}

.hero .container {
	padding-top: 200px;
	padding-left: 120px;
}

// text section

.text-section .container {
	max-width: 465px;
	padding-top: 30px;
}


//  call to action 2 section

.text-block-wrapper-3 {
    width: auto;

}

.text-section-wrapper {
	padding-left: 30px;
}
// feature 

.feature {
	padding-top: 30px;
	padding-bottom: 60px;

}

.text-block-wrapper {
	justify-content: center;
}

.text-block {
    width: 230px;
}

// about
.about-wrapper {
	padding-left: 10px;
	
}

.about .container {
	padding-top: 60px;
}

// contact 
.contact {
	height: auto;
	padding: 30px 0 30px 0;
}
// footer

.footer {
	height: auto;
	padding: 30px 0 30px 0;
}


}













/* desktop subsection
   ========================================================================== */

   @media screen and (min-width: 1024px) and (max-width: 1366px) {

   	.container {
   		width: 100%;
   	}

   	/* ==========================================================================
   header section
   ========================================================================== */
   .logo {
   		margin-left: 70px;
   }

   .hero-text-block {
   		margin-left: 50px;
   }
   	

   	/* ==========================================================================
   hero section
   ========================================================================== */

	.hero .container {
		padding-top: 230px;
	}


/* ==========================================================================
  text section
   ========================================================================== */
	.text-section .container {
		width: 50%;
		padding-top: 36px;
	}

	.text-section-wrapper {
		padding-left: 60px;
	}


	
/* ==========================================================================
  about section
   ========================================================================== */
	.about .container {
		padding-top: 75px;
	}

	.about-wrapper {
		padding-left: 50px;
	}


/* ==========================================================================
  contact section
   ========================================================================== */

	.contact .container {
		padding-left: 210px;
	}


/* ==========================================================================
  footer section
   ========================================================================== */
	.footer .container {
		padding-left: 210px;
	}
}



/* ==========================================================================
    ##########  media queries landscape view ###########
   ========================================================================== */

   // changed widths in media queries from min-width to width

// @media (width: 320px) and (orientation:landscape) {
// 	.hero .container {
// 		padding: 58px;
// 	}

// 	.call-to-action-2  {
// 		padding-bottom: 85px;
// 	}

// 	.about-container {
// 		padding-top: 50px;
// 	}
// }

// @media screen and (width: 480px) and (orientation: landscape) {
// 	.hero .container {
// 		padding: 85px 10px 0 10px;
// 	}

// 	.hero-heading {
// 		margin-bottom: 15px;
// 	}

// 	.call-to-action {
// 		background :url(../img/bump.png) no-repeat 50.5% -12.5%, url(../img/pink.jpg) no-repeat 0% 0%;
// 	}
// }

// @media (width: 1024px) and (orientation:landscape) {
// 	.hero .container {
// 		    padding-top: 228px;
//     		padding-left: 248px;
// 	}

// 	.feature-article {
// 		padding-left: 50px;
// 	}

// 	.contact {
// 		height: auto;
// 		padding-top: 0px;
// 	}

// 	.footer {
// 		height: auto;
// 		padding-top: 0px;
// 	}

// 	.contact .container,
// 	.footer .container {
// 		padding: 30px 0 30px 45px;
// 	}
// } 
